{%extends 'base.html'%}
{%block content%}

<form method='POST' enctype="multipart/form-data">
	{%csrf_token%}
	{{form.as_p}}
	<p>
		You can either choose the tags you want to associate with your profile<br>
		form the "Multiple Choice Tags" section (hold Crtl for multiple selection),<br>
		or write them manually in the form of #tag in the "Written Tags" section <br>
		and seperate between them with spaces or both!
	</p>
	<label for="tags" >Written Tags</label>
	

	<input value="{% if org %}{% for tag in form.instance.tags.all %}{% if tag.verified == False%}{{tag.name}} {%endif%}{%endfor%}{%endif%}" type="text" name="tags1" id="tags" placeholder="Add a tag like #Backend_dev and separete tags with a space">
	<br><br>
	<label for="tagss">Multiple Choice Tags</label>
    <select name="tags2" multiple id="tagss" >
		{% for subject_tag in subject_tags %}
		  <optgroup label="{{subject_tag.name}}">
			{% for tag in subject_tag.tags.all %}
			<option 
				{% if tag in form.instance.tags.all %}
					selected
				{%endif%}
			>{{tag.name}}</option>
			{% endfor %}
		  </optgroup>
		{%endfor%}
	</select>
	<br><br>
	<input type="submit" name="Submit">
	
</form>
{%endblock%}

