{%extends 'base.html'%}

{%block content%}
<img src="{{ object.avatar_thumbnail.url }}" >
<h1>Username : {{ object.username }}</h1>
<p>Bio : {{ object.bio }}</p>
<p>Location : {{ object.location }}</p>
<p>Contact Information : {{ object.contact_information }}</p>
<p>Verification Status : 

	{% if object.verified %}
		verified ✅

	{%else%}
		not verified ❌
	{%endif%}
	
</p>
<h4>Tags</h4>
{%for tag in object.tags.all%}
<p> <a href="{% url 'infrastructure:tag-user-view' tag_name=tag.name %}">{{tag}}</a>{{tag_form.subject_tags}} </p>
{%endfor%}
<hr>
<h1>Submit a post</h1>
{% if request.user == object %}
<form id='form1' method="post" action="{% url 'infrastructure:publish-post-user' slug=request.user.slug %}">
{% csrf_token %}
	<input type="text" name='text'>
	<input type="submit" name="submit">
</form>
{%endif%}
<hr>
<h1>Posts</h1>
{%for post in object.user_post.all%}
<h4><a href="{%url 'infrastructure:post-detail' id=post.id%}">{{post.content}}</a></h4>

	{%if request.user.is_authenticated%}
		{%if post.id not in ids%}

				<a href="{%url 'infrastructure:upvote' id=post.id%}">Up vote ({{post.get_votes}})</a>
		{%else%}


				<a href="{%url 'infrastructure:unvote' id=post.id%}">Unvote ({{post.get_votes}})</a>

		{%endif%}
	{%endif%}

<hr>


{%endfor%}



{%endblock%}
