{% include 'index.html'%}
{%block content%}
<img src="{{ object.avatar_thumbnail.url }}" >
<h1>Username : {{ object.username }}</h1>
<p>Bio : {{ object.bio }}</p>
<p>Location : {{ object.location }}</p>
<p>Contact Information : {{ object.contact_information }}</p>
<p>Verification Status : 

	{% if object.verified %}
		verified ✅

	{%else%}
		not verified ❌
	{%endif%}
	
</p>
<h4>Tags</h4>
{%for tag in object.tags.all%}
<p> <a href="{% url 'infrastructure:tag-user-view' tag_name=tag.name %}">{{tag}}</a>{{tag_form.subject_tags}} </p>
{%endfor%}
{%endblock%}
