{%extends 'base.html'%}
{%block content%}
<style>
body  {
  text-align: center;
  vertical-align: middle;
 }
p * { vertical-align: middle; 
	font-size : 20px ;
}​ 

</style>
<form method="post" enctype="multipart/form-data">
	<h3>Your Picture</h3>
	<img src="{{ form.instance.avatar_thumbnail.url }}" />
	{% csrf_token %}
	
    {%for item in form%}
    <p>
    	{%if  item.label != 'Tags'%}
    	{{item.label}} 
    	{{item}} 
    	<p>
    		{%if item.label == 'Username'%}
    			*Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
    		{%endif%}
    	</p>
    	{%else%}
    		{{item.label}} {{item}} 
    		
    	{%endif%}

    </p>
    {%endfor%}
	<p>
		You can either choose the tags you want to associate with your profile<br>
		form the "Multiple Choice Tags" section (hold Crtl for multiple selection),<br>
		or write them manually in the form of #tag in the "Written Tags" section <br>
		and seperate between them with spaces or both!
	</p>
	<label for="tags" >Written Tags</label>
	<input value="{% for tag in form.instance.tags.all %}{% if not tag.verified_%} {{tag.name}}{%endif%}{%endfor%}" type="text" name="tags1" id="tags" placeholder="Add a tag like #Backend_dev and separete tags with a space">
	<br><br>
	<label for="tagss">Multiple Choice Tags</label>
    <select name="tags2" multiple id="tagss" >
		{% for subject_tag in subject_tags %}
		  <optgroup label="{{subject_tag.name}}">
			{% for tag in subject_tag.tags.all %}
			<option 
				{% if tag in form.instance.tags.all %}
					selected
				{%endif%}
			>{{tag.name}}</option>
			{% endfor %}
		  </optgroup>
		{%endfor%}
	</select>
	<br><br>

    <input type="submit" value="Update">
</form>
{%endblock%}

