{%extends 'base.html'%}
{%block content%}

مساعد هو مجتمع لحل المشاكل ومساعدة المحتاجين إلى المساعدة أيا كان شكل المساعدة و ايا كانت خلفية الشخص الذي بحاجة الي المساعدة.
<br>
أي شخص وأي مسألة بحاجة إلى المساعدة مرحب بها علي مساعد ما عدا الآتي ذكرهم : 
غير مرحب بأي محتوى أو أي دعوة تدعو إلي ما يتعارض مع حق كل إنسان في التمتع بحقوقه الأساسية المذكورة في الإعلان العالمي لحقوق الإنسان
<br>
غير مرحب بأي شخص أو أي محتوي يميز بين الناس علي أساس الدين ، العرق أو غيرها ، إذا كنت ستعرض مشكلتك علي مساعد ، فعليك أن تكون قابل استلام المساعدة من اي شخص ايا  كانت خلفيته، و إذا كنت ستقوم بمساعدة احدهم علي مساعد ، عليك أن تكون قابل تقديم المساعدة لأي شخص أيا  كانت خلفيته. أيا كان
<br>
<br>
من فضلك ضع في اعتبارك النقاط التالية عند نشر مشكلتك علي "مساعد" 
<br>
عند كتابة عنوان المنشور حاول أن تذكر بإيجاز نوع المشكلة 
<br>
حاول أن تجعل العنوان مصدر كافي للقارئ ليعلم من خلاله إذا كان سيستطيع مساعدتك ام لا و عدم تكبيد القارئ عناء فتح المنشور لمعرفة ذلك
<br>
حاول أن تذكر في محتوي منشورك كل التفاصيل التي قد تهم القارئ او المساعد المحتمل بحيث نتجنب عناء طرح الاسئلة و الإجابة عليها في التعليقات
<br>
حاول ان تذكر في محتوي منشورك بشكل واضح و صريح نوع المشكلة التي تواجهها و شكل المساعدة الذي تود الحصول عليه ، و ذلك لضمان حصولك علي شكل المساعدة المناسب لمشكلتك و تجنب نوع المنشورات الغير واضح المراد أو المغزي منها
<br>
عند ذكر مشكلتك علي "مساعد" حاول تجنب استخدام الكلمات او الجمل ذات الطابع السلبي و التي لن تفيد القارئ في شئ سوي نشر المشاعر السلبية ، مثال "الظلم أصبح فاحش" أو "هذه بلد خربانة"
<br>
يمنع منعا باتًا نشر مشكلتك علي "مساعد" إذا لم يكن الهدف من وراء نشرها إيجاد المساعدة ، فمثلا ممنوع نشر مشكلة للفت نظر الرأي العام او فتح باب المناقشة في موضوع ما .

<br>
<br>

من فضلك ضع في اعتبارك النقاط التالية عند نشر تعليقك علي "مُساعد":
<br>
تجنب انواع التعليقات التي لا تحتوي علي ما قد يفيد صاحب المشكلة، مثال علي التعليقات الغير مرحب بها :  "كان الله في عونك" أو "هذه مشكلة عويصة"
<br>
في "مُساعد" المنشورات إما أن تنتمي للموقع (شخص يعرض مشكلته) أو لا تنتمي (منشور لا يعبر عن مشكلة) ولا يوجد حالة في المنتصف ، فإما أن يكون المنشور بحاجة إلى المساعدة أو يكون غير منتمي للموقع من الأساس ، ولذلك فـ"مُساعد" لا يتهاون مع أي نوع من التعليقات السلبية أو الناقدة لصاحب المشكلة أو الساخرة من المشكلة، مجتمع "مُساعد" مفتوح للجميع و لكل المشاكل مهما كان نوعها.
<br>
في حالة الرد على سؤال علمي أو طبي أو وضع محتوي علمي أو طبي يجب وضع مصدر موثوق فيه منعا للشائعات و انتشار الأفكار المغلوطة. <br>
"مُساعد" ليس مساحة اعلانية مفتوحة لذلك، في حال الرغبة في وضع إعلان برجاء التواصل مع إدارة الموقع.
<br>
برجاء التعليق بلغة من يطلب المساعدة قدر الإمكان، مثلا الابتعاد عن الإنجليزية إن كان الطلب بالعربية، والابتعاد عن استخدام الفرانكو قدر الإمكان.
<br>
في حالة استخدام روابط خارجيه يفضل الاستعانة بموقع shorten
<br>
 لتبسيط قراءة التعليق في حالة وجود أكثر من رابط.



{%endblock%}