{%extends 'base.html'%}
{%block content%}

Helper is a community for solving problems and helping whoever needs help whatever the type of the help or the background of the person who is in need of help.
<br>
Any person and any case that needs help is welcome on Helper except the following:
It's not welcome for any content calling for anything that conflicts the right of any human to enjoy his basic rights mentioned in The Universal Declaration of Human Rights.
<br>
It's not welcome for any person or any content that discriminates between people on any basis whether it's religion, race or any other.
If you are going to put your case on Helper, you have to accept the help from any person with any background and if you are going to help
someone on Helper you need to be able to offer the help to anyone no matter what their background is.
<br>
<br>
Please consider the following points when publishing your case on Helper:
<br>
When writing the title of your case please try to mention in short the type of the problem you are facing (in case of a needer post)
 or the opportunity that you are presenting (in case of a helper post).
<br>
Try to make the title a sufficient source for the reader to know if he/she can help you or not and not force him/her to open the post to know so.
<br>
Try to mention in the content of your post all the details that the reader or possible helper might need to know to avoid the need for asking questions and 
answering them in the comments.
<br>
 Try to mention clearly in your post the type of problem you are facing and the type of help you would like to get and that is to ensure that
 you get the help that you need and avoid having posts that are ambiguious with no clear purpose behind.
<br>
When putting your case on Helper try to avoid using negative language that does nothing but help 
spread negative emotions like "This is a corrupt system", or "injustice is the new norm"
<br>
 It's forbidden to publish your case for any reason other than getting help, for example it's forbidden to publish your case to open
 the door of discussion in a specific domain or to increase awareness.

<br>
<br>

Please consider the following points when commentiong on Helper:
<br>
Please try to not write comments with content that doesn't really help the owner of the case like "That's a big problem", or "hope you solve it soon"
<br>
Posts on Helper either belong to the website (it contains a problem or a solution to one) or don't belong to the website and there is nothing in between,
so Helper doesn't cooperate with any type of negative or judgemental comments towards the owner of the post, Helper is open to everyone and to all kinds
of needers' or helpers' posts.
<br>
In the case of answering a scientific or medical question please reply with relaible sources that support your answer, that is to avoid spreading false
information and news.
<br>
Please reply with the same language the poster of the case wrote their post in.




{%endblock%}
