<!DOCTYPE html>
<html>
<head>
	<title>
		{%block title%}
		{%endblock%}
	</title>
</head>

<style>
	body {
		text-align: center;
 	 	vertical-align: middle;
	}
	p *{
		vertical-align: middle;
	}
</style>

<body>
	{% if request.user.is_authenticated %}
	<h1><a href="{% url 'infrastructure:edit-user-profile' slug=request.user.slug %}">Edit Profile</a>
	</h1>
	<h1>
		<a href="{% url 'infrastructure:display-profile' slug=request.user.slug%} ">Display Profile</a>
	</h1>
	<h1>
		<a href="{% url 'infrastructure:org-create' %}">Create Organization</a>
	</h1>
	<h1>
		<a href="{% url 'infrastructure:user-orgs-view' slug=request.user.slug%}"> Your Organizations </a>
	</h1>
	{%endif%}
	<h1>
		<a href="{% url 'infrastructure:index'%}"> Index </a>
	</h1>
	<h1>
		<a href="{% url 'infrastructure:about'%}">About</a>
	</h1>
	{%if not request.user.is_authenticated %}
	<h1>
		<a href="{% url 'infrastructure:login' %}">Log In</a>
	</h1>
	<h1>
		<a href="{% url 'infrastructure:register' %}">Register</a>
	</h1>
	{%else%}
	<h1>
		<a href="{% url 'infrastructure:logout' %}">Log Out</a>
	</h1>

	{%endif%}

<hr>
{%block content%}
{%endblock%}

</html>
