{%extends 'base.html'%}
{%block content%}
من فضلك ضع في اعتبارك النقاط التالية عند نشر تعليقك علي "مُساعد":
تجنب انواع التعليقات التي لا تحتوي علي ما قد يفيد صاحب المشكلة، مثال علي التعليقات الغير مرحب بها :  "كان الله في عونك" أو "هذه مشكلة عويصة"
في "مُساعد" المنشورات إما أن تنتمي للموقع (شخص يعرض مشكلته) أو لا تنتمي (منشور لا يعبر عن مشكلة) ولا يوجد حالة في المنتصف ، فإما أن يكون المنشور بحاجة إلى المساعدة أو يكون غير منتمي للموقع من الأساس ، ولذلك فـ"مُساعد" لا يتهاون مع أي نوع من التعليقات السلبية أو الناقدة لصاحب المشكلة أو الساخرة من المشكلة، مجتمع "مُساعد" مفتوح للجميع و لكل المشاكل مهما كان نوعها.
في حالة الرد على سؤال علمي أو طبي أو وضع محتوي علمي أو طبي يجب وضع مصدر موثوق فيه منعا للشائعات و انتشار الأفكار المغلوطة.
"مُساعد" ليس مساحة اعلانية مفتوحة لذلك، في حال الرغبة في وضع إعلان برجاء التواصل مع إدارة الموقع.
برجاء التعليق بلغة من يطلب المساعدة قدر الإمكان، مثلا الابتعاد عن الإنجليزية إن كان الطلب بالعربية، والابتعاد عن استخدام ال franko قدر الإمكان.
في حالة استخدام روابط خارجيه يفضل الاستعانة بموقع shorten لتبسيط قرأت التعليق في حالة وجود أكثر من رابط.
{%endblock%}





