{%extends 'base.html'%}
{%block content%}
من فضلك ضع في اعتبارك النقاط التالية عند نشر مشكلتك علي "مساعد" 
عند كتابة عنوان المنشور حاول أن تذكر بإيجاز نوع المشكلة 
حاول أن تجعل العنوان مصدر كافي للقارئ ليعلم من خلاله إذا كان سيستطيع مساعدتك ام لا و عدم تكبيد القارئ عناء فتح المنشور لمعرفة ذلك
حاول أن تذكر في محتوي منشورك كل التفاصيل التي قد تهم القارئ او المساعد المحتمل بحيث نتجنب عناء طرح الاسئلة و الإجابة عليها في التعليقات
حاول ان تذكر في محتوي منشورك بشكل واضح و صريح نوع المشكلة التي تواجهها و شكل المساعدة الذي تود الحصول عليه ، و ذلك لضمان حصولك علي شكل المساعدة المناسب لمشكلتك و تجنب نوع المنشورات الغير واضح المراد أو المغزي منها
عند ذكر مشكلتك علي "مساعد" حاول تجنب استخدام الكلمات او الجمل ذات الطابع السلبي و التي لن تفيد القارئ في شئ سوي نشر المشاعر السلبية ، مثال "الظلم أصبح فاحش" أو "هذه بلد خربانة"
يمنع منعا باتًا نشر مشكلتك علي "مساعد" إذا لم يكن الهدف من وراء نشرها إيجاد المساعدة ، فمثلا ممنوع نشر مشكلة للفت نظر الرأي العام او فتح باب المناقشة في موضوع ما .



{%endblock%}





